trunk/ cfstox/CFStox/PowerCharts/Code/ChartXSD/HeatMap.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- declaring chart element -->
    <xs:element name="chart">
        <xs:complexType>
            <xs:sequence>
        <!-- define rows element -->
                <xs:element name="rows" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- xs:choice for vLine  -->
                            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <!-- define row element -->
                                <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="id" type="xs:string"/>
                                        <xs:attribute name="label" type="xs:string"/>
                                        <xs:attribute name="showLabel" type="xs:boolean"/>
                  <!-- end of row element attributes -->
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                <!-- End of choice -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
        <!-- end of rows element -->

        <!-- define columns element -->
                <xs:element name="columns" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- xs:choice for vLine  -->
                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <!-- define column element -->
                                <xs:element name="column" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="id" type="xs:string"/>
                                        <xs:attribute name="label" type="xs:string"/>
                                        <xs:attribute name="showLabel" type="xs:boolean"/>
                            <!-- end of column element attributes -->
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        <!-- End of choice -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
        <!-- end of columns element -->

        <!-- define dataset element -->
                <xs:element name="dataset" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
              <!-- define set element attributes -->
                            <xs:element name="set" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="rowId" type="xs:string"/>
                                    <xs:attribute name="columnId" type="xs:string"/>
                                    <xs:attribute name="colorRangeLabel" type="xs:string"/>
                                    <xs:attribute name="value" type="xs:double"/>
                                    <xs:attribute name="tlLabel" type="xs:string"/>
                                    <xs:attribute name="brLabel" type="xs:string"/>
                                    <xs:attribute name="blLabel" type="xs:string"/>
                                    <xs:attribute name="trLabel" type="xs:string"/>
                                    <xs:attribute name="displayValue" type="xs:string"/>
                                    <xs:attribute name="link" type="xs:string"/>
                                    <xs:attribute name="toolText" type="xs:string"/>
                                    <xs:attribute name="color" type="xs:hexBinary"/>
                                    <xs:attribute name="alpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:maxExclusive value="101"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="showValue" type="xs:boolean"/>
                                    <xs:attribute name="dashed" type="xs:boolean"/>
                                </xs:complexType>
                            </xs:element>
              <!-- end of set element attributes -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
        <!-- end of element dataset -->

        <!-- define columns element -->
                <xs:element name="colorRange" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- xs:choice for vLine  -->
                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <!-- define column element -->
                                <xs:element name="color" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="label" type="xs:string"/>
                                        <xs:attribute name="code" type="xs:hexBinary"/>
                                        <xs:attribute name="maxValue" type="xs:double"/>
                                        <xs:attribute name="minValue" type="xs:double"/>
                            <!-- end of column element attributes -->
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        <!-- End of choice -->
                        </xs:sequence>
                        <xs:attribute name="gradient" type="xs:boolean"/>
                        <xs:attribute name="mapByPercent" type="xs:boolean"/>
                        <xs:attribute name="minValue" type="xs:double"/>
                        <xs:attribute name="code" type="xs:hexBinary"/>
                        <xs:attribute name="startLabel" type="xs:string"/>
                        <xs:attribute name="endLabel" type="xs:string"/>

                    </xs:complexType>
                </xs:element>
        <!-- end of columns element -->

    <!-- styles element -->
                <xs:element name="styles" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
         <!-- style definition element -->
                            <xs:element name="definition" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
               <!-- styles definition style element -->
                                        <xs:element name="style" minOccurs="0" maxOccurs="unbounded">
                 <!-- style element attributes -->
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string"/>
                                                <xs:attribute name="type" type="xs:string"/>
                                                <xs:attribute name="font" type="xs:string"/>
                                                <xs:attribute name="size" type="xs:integer"/>
                                                <xs:attribute name="color" type="xs:hexBinary"/>
                                                <xs:attribute name="bold" type="xs:boolean"/>
                                                <xs:attribute name="italic" type="xs:boolean"/>
                                                <xs:attribute name="underline" type="xs:boolean"/>
                                                <xs:attribute name="bgColor" type="xs:hexBinary"/>
                                                <xs:attribute name="borderColor" type="xs:hexBinary"/>
                                                <xs:attribute name="isHTML" type="xs:string"/>
                                                <xs:attribute name="leftMargin" type="xs:integer"/>
                                                <xs:attribute name="letterSpacing" type="xs:integer"/>

                                                <xs:attribute name="param">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="_x"/>
                                                            <xs:enumeration value="_y"/>
                                                            <xs:enumeration value="_xScale"/>
                                                            <xs:enumeration value="_yScale"/>
                                                            <xs:enumeration value="_alpha"/>
                                                            <xs:enumeration value="_rotation"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="start" type="xs:integer"/>  <!-- this attribute got some string values too -->
                                                <xs:attribute name="duration" type="xs:nonNegativeInteger"/>
                                                <xs:attribute name="easing">      <!--  "elastic", "bounce", "regular", "strong" or "none" -->
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="elastic"/>
                                                            <xs:enumeration value="bounce"/>
                                                            <xs:enumeration value="regular"/>
                                                            <xs:enumeration value="strong"/>
                                                            <xs:enumeration value="none"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="distance" type="xs:integer"/>
                                                <xs:attribute name="angle">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:maxExclusive value="361"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="alpha">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:maxExclusive value="101"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="blurX">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">       <!-- 0 to 255 -->
                                                            <xs:maxExclusive value="256"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="blurY">                              <!-- 0 to 255 -->
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:maxExclusive value="256"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="strength">                         <!-- 0 to 255 -->
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:maxExclusive value="256"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="quality">                     <!-- 0 to 15 -->
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:maxExclusive value="16"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="properties" type="xs:string"/>
                                                <xs:attribute name="shadowColor" type="xs:hexBinary"/>
                                                <xs:attribute name="shadowAlpha">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:maxExclusive value="101"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="highlightColor" type="xs:hexBinary"/>
                                                <xs:attribute name="highlightAlpha">                 <!-- 0 to 100 -->
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:maxExclusive value="101"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                   <!-- end of style element attributes -->
                                        </xs:element>
                 <!-- end of style element -->
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
            <!-- end of defination element -->
            
            <!-- style application element  -->
                            <xs:element name="application" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                <!-- style application apply element  -->
                                        <xs:element name="apply" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="toObject" type="xs:string"/>
                                                <xs:attribute name="styles" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                <!-- end of apply -->
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
            <!-- end of application -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
    <!-- end of styles -->
            </xs:sequence>

		<!-- Chart element Attributes -->
		<!-- Functional Attributes -->
            <xs:attribute name="animation" type="xs:boolean"/>
            <xs:attribute name="palette">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="paletteColors" type="xs:string"/>       <!-- 'FF0000,0372AB,FF5904...' -->
            <xs:attribute name="showAboutMenuItem" type="xs:boolean"/>
            <xs:attribute name="aboutMenuItemLabel" type="xs:string"/>
            <xs:attribute name="aboutMenuItemLink" type="xs:string"/>
            <xs:attribute name="showLabels" type="xs:boolean"/>
            <xs:attribute name="showPrintMenuItem" type="xs:boolean"/>
            <xs:attribute name="xAxislabelDisplay">       <!-- WRAP, STAGGER, ROTATE or NONE   -->
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="AUTO"/>
                        <xs:enumeration value="WRAP"/>
                        <xs:enumeration value="STAGGER"/>
                        <xs:enumeration value="ROTATE"/>
                        <xs:enumeration value="NONE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="maxLabelWidhPercent" type="xs:integer"/>
            <xs:attribute name="useEllipsesWhenOverflow" type="xs:boolean"/>
            <xs:attribute name="showTooltipforWrappedLabels" type="xs:boolean"/>
            <xs:attribute name="rotatexAxisLabels" type="xs:boolean"/>
            <xs:attribute name="slantxAxisLabels" type="xs:boolean"/>
            <xs:attribute name="xAxislabelStep" type="xs:boolean"/>
            <xs:attribute name="yAxislabelStep" type="xs:nonNegativeInteger"/>
            <xs:attribute name="showYaxisLabels" type="xs:boolean"/>
            <xs:attribute name="showXaxisLabels" type="xs:boolean"/>
            <xs:attribute name="staggerxAxisLines" type="xs:integer"/>
            <xs:attribute name="showValues" type="xs:boolean"/>
            <xs:attribute name="rotateValues" type="xs:boolean"/>
            <xs:attribute name="showLimits" type="xs:boolean"/>
            <xs:attribute name="showDivLineValues" type="xs:boolean"/>
            <xs:attribute name="showShadow" type="xs:boolean"/>
            <xs:attribute name="rotateYAxisName" type="xs:boolean"/>
            <xs:attribute name="yAxisNameWidth" type="xs:nonNegativeInteger"/>
            <xs:attribute name="clickURL" type="xs:string"/>
            <xs:attribute name="defaultAnimation" type="xs:boolean"/>
            <xs:attribute name="interactiveAnimationDuration" type="xs:integer"/>
            <xs:attribute name="mapByCategory" type="xs:boolean"/>
            <xs:attribute name="showHoverEffect" type="xs:boolean"/>
            <xs:attribute name="unescapeLinks" type="xs:boolean"/>

        <!-- defining Chart Titles and Axis Names Attributes -->
            <xs:attribute name="caption" type="xs:string"/>
            <xs:attribute name="subCaption" type="xs:string"/>
            <xs:attribute name="xAxisName" type="xs:string"/>
            <xs:attribute name="yAxisName" type="xs:string"/>

        <!-- Chart Cosmetics Attributes -->
            <xs:attribute name="showBorder" type="xs:boolean"/>
            <xs:attribute name="borderColor" type="xs:hexBinary"/>
            <xs:attribute name="borderThickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="borderAlpha">             <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgColor" type="xs:hexBinary"/>
            <xs:attribute name="bgAlpha">               <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgRatio">               <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgAngle">               <!-- value (0 - 360) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="361"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgSWF" type="xs:string"/>
            <xs:attribute name="bgSWFAlpha">             <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="canvasBgColor" type="xs:hexBinary"/>
            <xs:attribute name="canvasBgAlpha" type="xs:string"/>
            <xs:attribute name="canvasBgRatio">          <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="canvasBgAngle" type="xs:nonNegativeInteger"/>          <!-- value (0 - 5) -->
            <xs:attribute name="canvasBorderColor" type="xs:hexBinary"/>
            <xs:attribute name="canvasBorderThickness">         <!-- value (0 - 5) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="canvasBorderAlpha">           <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showVLineLabelBorder" type="xs:boolean"/>
            <xs:attribute name="logoURL" type="xs:string"/>
            <xs:attribute name="logoPosition">       <!-- logo position (TL, TR, BL, BR, CC)  -->
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TL"/>
                        <xs:enumeration value="TR"/>
                        <xs:enumeration value="BL"/>
                        <xs:enumeration value="BR"/>
                        <xs:enumeration value="CC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logoAlpha">               <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logoScale">               <!-- value (0 - 300) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="301"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logoLink" type="xs:string"/>
	  
      <!-- Data Plot Cosmetics Attributes -->
            <xs:attribute name="showPlotBorder" type="xs:boolean"/>
            <xs:attribute name="plotBorderColor" type="xs:hexBinary"/>
            <xs:attribute name="plotBorderThickness">      <!-- value (0 - 5) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="plotBorderAlpha">            <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="plotBorderDashed" type="xs:boolean"/>
            <xs:attribute name="plotBorderDashLen" type="xs:integer"/>
            <xs:attribute name="plotBorderDashGap" type="xs:integer"/>
            <xs:attribute name="plotFillAngle">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="361"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="plotFillRatio">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="plotFillAlpha">      <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="plotGradientColor" type="xs:hexBinary"/>
            <xs:attribute name="lineThickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="lineDashLen" type="xs:float"/>
            <xs:attribute name="lineDashGap" type="xs:float"/>

  	  <!--  Divisional Lines & Grids Attributes  -->
            <xs:attribute name="hdivLineColor" type="xs:hexBinary"/>
            <xs:attribute name="hdivLineThickness">            <!-- value (1 - 5) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="hdivLineAlpha">            <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="hdivLineIsDashed" type="xs:boolean"/>
            <xs:attribute name="hdivLineDashLen" type="xs:integer"/>
            <xs:attribute name="hdivLineDashGap" type="xs:integer"/>
            <xs:attribute name="vdivLineColor" type="xs:hexBinary"/>
            <xs:attribute name="vdivLineThickness">            <!-- value (1 - 5) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="vdivLineAlpha">            <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="vdivLineIsDashed" type="xs:boolean"/>
            <xs:attribute name="vdivLineIsDashlen" type="xs:boolean"/>
            <xs:attribute name="vdivLineDashGap" type="xs:integer"/>
            <xs:attribute name="showAlternateHGridColor" type="xs:boolean"/>
            <xs:attribute name="alternateHGridColor" type="xs:hexBinary"/>
            <xs:attribute name="alternateHGridAlpha" type="xs:integer"/>
            <xs:attribute name="showAlternateVGridColor" type="xs:boolean"/>
            <xs:attribute name="alternateVGridColor" type="xs:hexBinary"/>
            <xs:attribute name="alternateVGridAlpha">            <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

  	  <!--  Anchors Attributes  -->
            <xs:attribute name="drawAnchors" type="xs:boolean"/>
            <xs:attribute name="anchorSides">            <!-- value (3 - 20) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minExclusive value="2"/>
                        <xs:maxExclusive value="21"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="anchorRadius" type="xs:nonNegativeInteger"/>
            <xs:attribute name="anchorBorderColor" type="xs:hexBinary"/>
            <xs:attribute name="anchorBorderThickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="anchorBgColor" type="xs:hexBinary"/>
            <xs:attribute name="anchorAlpha">            <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="anchorBgAlpha">            <!-- value (0 - 100) -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

      <!--  Legend Properties -->
            <xs:attribute name="showLegend" type="xs:boolean"/>
            <xs:attribute name="legendPosition">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="BOTTOM"/>
                        <xs:enumeration value="RIGHT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendCaption" type="xs:string"/>
            <xs:attribute name="legendIconScale">              <!-- 0 to 5 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendBgColor" type="xs:hexBinary"/>
            <xs:attribute name="legendBgAlpha">              <!-- 0 to 100 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendBorderColor" type="xs:hexBinary"/>
            <xs:attribute name="legendBorderThickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="legendBorderAlpha">        <!-- 0 to 100 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendShadow" type="xs:boolean"/>
            <xs:attribute name="legendAllowDrag" type="xs:boolean"/>
            <xs:attribute name="legendScrollBgColor" type="xs:hexBinary"/>
            <xs:attribute name="legendScrollBarColor" type="xs:hexBinary"/>
            <xs:attribute name="legendScrollBtnColor" type="xs:hexBinary"/>
            <xs:attribute name="reverseLegend" type="xs:boolean"/>
            <xs:attribute name="interactiveLegend" type="xs:boolean"/>
            <xs:attribute name="legendNumColumns" type="xs:nonNegativeInteger"/>
            <xs:attribute name="minimiseWrappingInLegend" type="xs:boolean"/>
            <xs:attribute name="legendPointerWidth" type="xs:integer"/>
            <xs:attribute name="legendPointerHeight" type="xs:integer"/>
            <xs:attribute name="snapLegendPointers" type="xs:boolean"/>
            <xs:attribute name="legendSnapRange">        <!-- 0 to 5 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendScaleLineColor" type="xs:hexBinary"/>
            <xs:attribute name="legendScaleLineAlpha">        <!-- 0 to 100 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="101"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendScaleLineThickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="autoOrderLegendIcon" type="xs:boolean"/>

	  <!-- Number Formatting Attributes -->
            <xs:attribute name="formatNumber" type="xs:boolean"/>
            <xs:attribute name="formatNumberScale" type="xs:boolean"/>
            <xs:attribute name="defaultNumberScale" type="xs:string"/>
            <xs:attribute name="numberScaleUnit" type="xs:string"/>
            <xs:attribute name="numberScaleValue" type="xs:string"/>
            <xs:attribute name="numberPrefix" type="xs:string"/>
            <xs:attribute name="numberSuffix" type="xs:string"/>
            <xs:attribute name="decimalSeparator" type="xs:string"/>
            <xs:attribute name="thousandSeparator" type="xs:string"/>
            <xs:attribute name="inDecimalSeparator" type="xs:string"/>
            <xs:attribute name="inThousandSeparator" type="xs:string"/>
            <xs:attribute name="decimals" type="xs:positiveInteger"/>
            <xs:attribute name="forceDecimals" type="xs:boolean"/>
            <xs:attribute name="forceYAxisValueDecimals" type="xs:boolean"/>
            <xs:attribute name="yAxisValueDecimals">             <!-- 0 to 10 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
	  
      <!-- Font Properties Attributes -->
            <xs:attribute name="baseFont" type="xs:string"/>
            <xs:attribute name="baseFontSize">                    <!-- 0 to 72 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="73"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="baseFontColor" type="xs:hexBinary"/>
            <xs:attribute name="outCnvBaseFont" type="xs:string"/>
            <xs:attribute name="outCnvBaseFontSize">                <!-- 0 to 72 -->
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxExclusive value="73"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="outCnvBaseFontColor" type="xs:hexBinary"/>

      <!-- Tool-tip Attributes -->
            <xs:attribute name="showToolTip" type="xs:boolean"/>
            <xs:attribute name="toolTipBgColor" type="xs:hexBinary"/>
            <xs:attribute name="toolTipBorderColor" type="xs:hexBinary"/>
            <xs:attribute name="toolTipSepChar" type="xs:string"/>
            <xs:attribute name="showColumnIdInToolTip" type="xs:boolean"/>
            <xs:attribute name="showRowIdInToolTip" type="xs:boolean"/>
            <xs:attribute name="showToolTipShadow" type="xs:boolean"/>
	  
      <!-- Chart Padding & Margins Attributes -->
            <xs:attribute name="captionPadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="xAxisNamePadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="yAxisNamePadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="labelxPadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="labelyPadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartLeftMargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartRightMargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartTopMargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartBottomMargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="legendPadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="canvasLeftMargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="canvasRightMargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="canvasTopMargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="canvasBottomMargin" type="xs:nonNegativeInteger"/>

      <!-- Exporting charts as PDF/Images > XML Attributes -->
            <xs:attribute name="exportEnabled" type="xs:boolean"/>
            <xs:attribute name="exportShowMenuItem" type="xs:boolean"/>
            <xs:attribute name="exportFormats" type="xs:string"/>
            <xs:attribute name="exportAtClient" type="xs:boolean"/>
            <xs:attribute name="exportHandler" type="xs:string"/>
            <xs:attribute name="exportAction">       <!-- logo position ('save' or 'download')  -->
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="save"/>
                        <xs:enumeration value="download"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="exportTargetWindow">       <!-- logo position (_self or _blank)  -->
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="_self"/>
                        <xs:enumeration value="_blank"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="exportCallback" type="xs:string"/>
            <xs:attribute name="exportFileName" type="xs:string"/>
            <xs:attribute name="showExportDialog" type="xs:boolean"/>
            <xs:attribute name="exportDialogMessage" type="xs:string"/>
            <xs:attribute name="exportDialogColor" type="xs:hexBinary"/>
            <xs:attribute name="exportDialogBorderColor" type="xs:hexBinary"/>
            <xs:attribute name="exportDialogFontColor" type="xs:hexBinary"/>
            <xs:attribute name="exportDialogPBColor" type="xs:hexBinary"/>

        <!-- Setting up the chart to export data from context menu  -->
            <xs:attribute name="showExportDataMenuItem" type="xs:boolean"/>

        <!-- Customizing the output CSV format  -->
            <xs:attribute name="exportDataSeparator">       <!-- logo position ( {tab} or {quot} {apos} )  -->
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="{tab}"/>
                        <xs:enumeration value="{quot}"/>
                        <xs:enumeration value="{apos}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="exportDataQualifier">       <!-- logo position ( {tab} or {quot} {apos} )  -->
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="{tab}"/>
                        <xs:enumeration value="{quot}"/>
                        <xs:enumeration value="{apos}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="exportDataFormattedVal" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>


